@import url("https://fonts.googleapis.com/css?family=Open+Sans&amp;subset=cyrillic");
body {
	font-family: "Open Sans", sans-serif;
	background-color: black
}
h1 {color: white}
p  {color:white; font-size: 22px}
p1 {color:white; font-size: 20px}
p2 {color:white; font-size: 14px}
a {color:white; font-size: 14px}
.vertical-menu {
    width: 200px;
    position: absolute;
    right: 15px;
    line-height: 1px;
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}
